@page "/prestamos"
@inject IToastService toast

    <div class="container mt-3">
        <div class="card shadow-lg">
            <div class="card-header bg-dark">
                <div class="form-row">
                    <div class="col-sm flex-shrink-1">
                        <h3 class="text-light"><i class="oi oi-dollar mr-3"/>Prestamos</h3>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-dark border-light" @onclick="AgregarPrestamo">
                            <i class="oi oi-plus"/>
                            Agregar
                        </button>
                    </div>
                    <div class="col-sm">
                        <select @bind="indexSelect" class="custom-select">
                            <option value="0">Filtrar por</option>
                            <option value="1">PrestamoId</option>
                            <option value="2">PersonaId</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <input class="form-control w-100" type="@(indexSelect == 1 ? "number" : "text")" @bind="criterioDeBusqueda" />
                    </div>
                    <div class="col-sm text-center">
                        <button class="btn btn-dark border-light" @onclick="FiltarPrestamos">
                            <i class="oi oi-magnifying-glass"/>
                            Buscar
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body overflow-auto">
                @if (Prestamos == null || PrestamosFiltrados == null) {
                    <div>
                        <h4>Cargando...</h4>
                    </div>
                } else {
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Prestamo Id</th>
                                <th>Presona Id</th>
                                <th>Concepto</th>
                                <th>Monto</th>
                                <th>Balance</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prestamo in PrestamosFiltrados) {
                                <tr>
                                    <td>@prestamo.PrestamoId</td>
                                    <td>@prestamo.PersonaId</td>
                                    <td>@prestamo.Concepto</td>
                                    <td>@string.Format("{0:c}" , prestamo.Monto)</td>
                                    <td>@string.Format("{0:c}" , prestamo.Balance + prestamo.BalanceMoras())</td>
                                    <td><button @onclick="()=>ModificarPrestamo(prestamo)" class="btn btn-outline-dark">Ver</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>

@if (MostraDialogoEditor) {
    Title = EsNuevoPrestamo ? "Nuevo Prestamo" : "Modificar Prestamo";

    <Dialogo Title="@Title" OnClose="OcultarDialogo">
        <Body>
            <EditForm id="form-prestamos" Model="prestamoEnModificacion" OnValidSubmit="Guardar">
                <FieldsPrestamo Prestamo="prestamoEnModificacion" />
                <DataAnnotationsValidator />
            </EditForm>
        </Body>
        <Footer>
            <button type="button" disabled="@(!EsNuevoPrestamo)" class="btn btn-outline-warning" @onclick="Nuevo">Nuevo</button>
            <input type="submit" form="form-prestamos" class="btn btn-outline-success" value="Guardar" />
            <button type="button" disabled="@(EsNuevoPrestamo)" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar</button>
        </Footer>
    </Dialogo>
}



@code {

    bool MostraDialogoEditor = false;
    bool EsNuevoPrestamo = false;
    string Title;

    int indexSelect = 0; //indice actual del select
    string criterioDeBusqueda;

    Prestamo prestamoEnModificacion = new Prestamo();

    public List<Prestamo> Prestamos { get; set; }
    public List<Prestamo> PrestamosFiltrados { get; set; }

    protected async override Task OnInitializedAsync() {
        Prestamos = await PrestamosBLL.GetPrestamos();
        PrestamosFiltrados = Prestamos;
    }

    void ModificarPrestamo(Prestamo prestamo) {
        prestamoEnModificacion = prestamo;
        EsNuevoPrestamo = false;
        MostraDialogoEditor = true;
    }

    void AgregarPrestamo() {
        prestamoEnModificacion = new Prestamo();
        EsNuevoPrestamo = true;
        MostraDialogoEditor = true;
    }

    async Task OcultarDialogo() {
        MostraDialogoEditor = false;
        Prestamos = await PrestamosBLL.GetPrestamos();
        QuitarFiltros();
    }

    void QuitarFiltros() {
        indexSelect = 0;
        criterioDeBusqueda = "";
        FiltarPrestamos();
    }

    void Nuevo() {
        prestamoEnModificacion = new Prestamo();
    }
    async Task Guardar() {

        Persona persona = await PersonasBLL.Buscar(prestamoEnModificacion.PersonaId);

        if (persona == null) {
            toast.ShowError("Esta persona no existe");
            return;

        } else {
            bool guardo;

            guardo = await PrestamosBLL.Guardar(prestamoEnModificacion);

            if (guardo) {
                toast.ShowSuccess("Guardado ");
                Nuevo();
                await OcultarDialogo();
            } else
                toast.ShowError("Error al guardar");
        }
    }

    async Task Eliminar() {
        bool eliminado;

        eliminado = await PrestamosBLL.Eliminar(prestamoEnModificacion.PrestamoId);

        if (eliminado) {
            toast.ShowSuccess("Eliminado");
            Nuevo();
            await OcultarDialogo();
        } else
            toast.ShowError("Error al eliminar");
    }

    void FiltarPrestamos() {

        if (indexSelect == 0) {//Todos

            PrestamosFiltrados = Prestamos.Where(e => true).ToList();

        } else if (indexSelect == 1) {//Id

            if (int.TryParse(criterioDeBusqueda , out int Id)) {

                PrestamosFiltrados = Prestamos.Where(e => e.PrestamoId == Id).ToList();
            }

        } else if (indexSelect == 2) {//PrestamoId

            if (int.TryParse(criterioDeBusqueda , out int Id)) {
                PrestamosFiltrados = Prestamos.Where(e => e.PersonaId == Id).ToList();
            }

        }

    }



}